@import url('https://fonts.googleapis.com/css2?family=Capriola&family=Freeman&family=Pacifico&display=swap');
@import "tailwindcss";

@theme {
    --font-pacifico: "Pacifico", "sans-serif";
    --color-header-dark-turqoiuse: #096B68;
    --color-sand: #FFFBDE;
}

